<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^jobzmart\.com$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.jobzmart\.com$
#RewriteRule ^/?$ "http\:\/\/jobzmart\.com\/" [R=301,L]
